# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
myenv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE 설정
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
